services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - .:/app:cached
    command: ["sleep", "infinity"]
    networks: [net]
    ports:
      - "8000:8000"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - .:/app:cached
    command: ["sleep", "infinity"]
    networks: [net]

networks:
  net:
    driver: bridge
